<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mysql.mapper.PhoneMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.po.PhonePO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="phone_code" jdbcType="VARCHAR" property="phoneCode" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="brand" jdbcType="VARCHAR" property="brand" />
        <result column="prod_date" jdbcType="DATE" property="prodDate" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <select id="selectByName" parameterType="string" resultMap="BaseResultMap">
        select * from phone where name like CONCAT('%', #{name}, '%')
    </select>

    <select id="countPriceRange" resultType="com.example.demo.model.dto.PhonePriceStatDTO">
        SELECT
            price_range,
            num,
            total,
            CONCAT(FORMAT(num / total * 100, 2), '%') AS percent
        FROM
            (SELECT
                 CASE
                     WHEN price BETWEEN 0 AND 4000 THEN '0-4k'
                     WHEN price BETWEEN 4001 AND 5000 THEN '4-5k'
                     WHEN price BETWEEN 5001 AND 6000 THEN '5-6k'
                     ELSE '6k+'
                     END AS price_range,
                 COUNT(*) AS num
             FROM
                 phone
             GROUP BY price_range
             ORDER BY num DESC , price_range DESC) t1
                JOIN
             (SELECT COUNT(0) AS total FROM phone) t2
    </select>
</mapper>
